p{
    width: 300px;
    height: 100px;
    text-align: justify;
    position: absolute;
    padding-left: 300px;
    padding-top: 260px;
}
img{
    text-align: justify;
    position: absolute;
    padding-left: 300px;
    padding-top: 50px;
    
}
h2{
    text-align: justify;
    position: absolute;
    padding-left: 300px;
}

